<h1>Conquistas do Jogo</h1>

<a href="/jogos/{{this.id}}/novaConquista" class="btn btn-primary">Cadastrar Conquista</a>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    {{#each conquistas}}
      <tr>
        <td>{{this.titulo}}</td>
        <td>{{this.descricao}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
