<div class="container">
  <div class="form-container">
    <h2 class="form-title">Cadastrar Conquista para {{jogoId}}</h2>
    <form action="/jogos/{{jogoId}}/conquistas/novo" method="post">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" name="titulo" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <input type="text" id="descricao" name="descricao" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary btn-submit">Cadastrar Conquista</button>
    </form>
  </div>
</div>
