<h1>Usuários</h1>

<a href="/usuarios/novo" class="btn btn-primary">Cadastrar Usuário</a>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
      <tr>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
        <td>
          <a href="/usuarios/{{this.id}}/update" class="btn btn-warning">Editar</a>
          <form action="/usuarios/{{this.id}}/delete" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
